obj/
downloads/
tools/
.vscode
Keil_Projects/*.uvgui.*
Keil_Projects/*.uvguix.*
Keil_Projects/Objects
Keil_Projects/RTE/*
Keil_Projects/Listings
*.bin
*.elf
*.d
*.hex
*.log
*~
*.map
*.o
.DS_Store
.vscode/settings.json